<div>
  <div class="example-button-container">
    <button mat-mini-fab (click)="goToHome()">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
  </div>
</div>
<div class="users-container">
  <span class="user-card">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title
          >{{ user.first_name || "N/A" }}
          {{ user.last_name || "N/A" }}</mat-card-title
        >
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      </mat-card-header>
      <img
        class="user-image"
        mat-card-image
        [src]="user.avatar"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>{{ user.email }}</p>
      </mat-card-content>
    </mat-card>
  </span>
</div>
